/*Begin CSS Reset */

/* remove default browser styles, except for 
'display' property */

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles */
ol, ul, menu {
    list-style: none;
}

/* Images cannot exceed their container */
img {
    max-width: 100%;
}

/* End CSS Reset */

/* Set CSS Custom Properties */

:root {
    --dark-bg-color: #1f2937;
    --main-text-color: #f9faf8;
    --sec-text-color: #e5e7eb;
    --main-text-size: 48px;
    --main-text-weight: extra-bold;
    --sec-text-size: 18px;
    --header-text-size: 24px;
    --header-text-color: #f9faf8;
    --button-action-bg-color: #3882f6;
    --info-header-text-color: #1f2937;
    --info-header-text-size: 36px;
    --info-header-text-weight: extra-bold;
    --quote-bg-color: #e5e7eb;
    --quote-text-color: #1f2937;
    --quote-text-size: 36px;
    --quote-text-weight: light italic;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: auto;
    display: flex;
    align-items: center;
    background-color: var(--dark-bg-color);
    padding: 8px;
}

.header-logo {
    color: var(--header-text-color);
    font-size: var(--header-text-size);
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 16px;
    color: var(--sec-text-color);
    font-size: var(--sec-text-size);
}

footer {
    margin-top: auto;
    background-color: var(--dark-bg-color);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sec-text-color);
    font-size: 0.5em;
}
