/*Begin CSS Reset */

/* remove default browser styles, except for 
'display' property */

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles */
ol, ul, menu {
    list-style: none;
}

/* Images cannot exceed their container */
img {
    max-width: 100%;
}

/* End CSS Reset */

/* Set CSS Custom Properties */

:root {
    --dark-bg-color: #1f2937;
    --main-text-color: #f9faf8;
    --sec-text-color: #e5e7eb;
    --main-text-size: 48px;
    --main-text-weight: bolder;
    --sec-text-size: 18px;
    --header-text-size: 24px;
    --header-text-color: #f9faf8;
    --button-action-bg-color: #3882f6;
    --info-header-text-color: #1f2937;
    --info-header-text-size: 36px;
    --info-header-text-weight: bolder;
    --quote-bg-color: #e5e7eb;
    --quote-text-color: #1f2937;
    --quote-text-size: 36px;
    --quote-text-weight: light italic;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: auto;
    display: flex;
    align-items: center;
    background-color: var(--dark-bg-color);
    padding: 8px;
}

.header-logo {
    color: var(--header-text-color);
    font-size: var(--header-text-size);
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 16px;
    color: var(--sec-text-color);
    font-size: var(--sec-text-size);
}

footer {
    margin-top: auto;
    background-color: var(--dark-bg-color);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sec-text-color);
    font-size: 0.5em;
}

hero-sec {
    background-color: var(--dark-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.hero-main-text {
    color: var(--main-text-color);
    font-size: var(--main-text-size);
    font-weight: var(--main-text-weight);
}

.hero-sec-text {
    color: var(--sec-text-color);
    font-size: var(--sec-text-size);
}

button {
    background-color: var(--button-action-bg-color);
    max-width: 33%;
    padding: 4px 16px;
    border-radius: 10%;
    color: var(--sec-text-color);
    font-weight: var(--main-text-weight);
}

placeholder {
    background-color: var(--quote-bg-color);
    color: var(--sec-text-color);
    padding: 40px;
}

hero-sec-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 50%;
}

hero-sec-right {
    max-width: 50%;
    flex-shrink: 0;
}

info-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 32px;
    gap: 16px;
}

.info-title {
    color: var(--info-header-text-color);
    font-size: var(--info-header-text-size);
    font-weight: var(--info-header-text-weight);
}

info-images {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

info-box-text {
    text-align: center;
    color: darkgray;
}

info-box-image {
    border: 2px solid blue;
    border-radius: 33%;
    text-align: center;
    padding: 20px;
}